doctype html
html
  head
    meta(charset="utf-8")
    title component-static
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    link(rel="stylesheet",href="/build/build.css")
    script(type="text/javascript",src="build/build.js")
  body
    #wrap
    script.
      window.User = null;
      require('component-static').start();
